* { /* everything */
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 1.5vmin);
  color: white;

    /* background-color: rgb(41 37 36/var(--tw-bg-opacity));
  --tw-bg-opacity: 1; */
}

/* div in index.html */
#bg-gradient {
    height: fit-content;
    /* z-index: 3; */
    width: 100%;
    /* max-width: 640px; */
    max-width: 800px;
    background-image: 
        radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: '';
    height: 90%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.1;
    /* margin: 5vw 50vw 5vw 5vw; */
}

.to-contact-page-btn {
  background-color: #111; /*or #181b1d */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  /* fixes button to bottom of screen */
  position: fixed;
  bottom: 0;
  /* left: 50%; */
  transform: translateX(-50%);
 }


 /* ---HOME PAGE--- */
 .home-hero-img{
  width: 300px;
  margin: 20px;
  border-radius: 20%;
 }


 /* ---ABOUT ME PAGE--- */

 .AboutMe-page {
  font-family: monospace, 'Arial Narrow', Arial, sans-serif;
 }

 .AboutMe-blurb {
  font-size: calc(10px + 1.3vmin);
  margin: 5vw 20vw 0vw 20vw;
 }

 .AboutMe-title {
  margin: 10vw 0vw 0vw 0vw;
 }


 /* ---PROJECT PAGE--- */
.project-list {
  /* display: flex; */
  justify-content: center;
  display: inline-block;
  margin: 20px;
}

 .project-entry{
  background-color:#11111144;
  width: 50vw;
  margin: 20px;
 }

 .project-entry p, h4 {
  margin: 20px;
  padding: 10px;
 }

 .project-entry img {
  width: 40vw;
 }