
.NavBar {
  /* dark bar */
    /* background-color: #181b1d4e; */
    /* background-image: url(./images/leaves.jpg); */
    /* background-size: cover; */
    /* background-position: left; */
    /* opacity: 30%; */
    /* overflow: hidden; */
    /* or */
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #61dafb16 1px solid;
  }
  
  .NavBar ul {
    list-style-type: none;
    margin: 0 20px;
    /* padding: 0; */
    display: flex;
    justify-content: space-between;
    /* width: 20vw; */
    width: 300px;
  }
  
  .NavBar li {
    float: left;
  }
  
  .NavBar li a {
    display: block;
    color: #61dafb;
    /* text-align: center; */
    padding: 14px 21px;
    text-decoration: none;
    font-size: calc(10px + 1.1vmin); 
    /* font-size: 20px; */
  }
  
  .NavBar ul a:hover {
    background-color: #111;
  }

  .header-logo {
    width: 80px;
    height: auto;
    margin: 0 0 0 10px;
    padding: 0;
    opacity: 70%;
  }
  .header-logo:hover {
    opacity: 0.5;
  }
  
  .header-name-div {
    /* background-color: #181b1d; */
    /* background-image: url(./images/stars.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-blend-mode:color-dodge; */
    /* width: 100vw; */
    /* margin: 5px; */
    /* padding-bottom: 8px; */
  }

  .header-name-div p {
    /* background-color: #1f304889; */
  }


  @media (max-width: 430px) {
    .header-logo {
      width: 55px;
    }
    .NavBar ul {
      width: 240px;
    }
  }