
.NavBar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #61dafb16 1px solid;
  }
  
  .NavBar ul {
    list-style-type: none;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  
  .NavBar li {
    float: left;
  }
  
  .NavBar li a {
    display: block;
    color: #61dafb;
    padding: 14px 21px;
    text-decoration: none;
    font-size: calc(10px + 1.1vmin); 
  }
  
  .NavBar ul a:hover {
    background-color: #111;
  }

  .header-logo {
    width: 50px;
    height: auto;
    margin-left: 15px;
    opacity: 70%;
  }
  .header-logo:hover {
    opacity: 0.5;
  }

  @media (max-width: 600px) {
    header {
      flex-direction: column;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav button {
      margin-left: 0;
      margin-top: 10px;
    }
  }